<!doctype html>
<html>
<head>
    <title>
        Liste
    </title>
</head>
<body>
    <table border="1">
        <tr>
                {% for i in liste %}
                    <td>{{ i }}</td>
                {% endfor %}
        </tr>
    </table>
</body>
</html>
